* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(235, 21%, 11%);
}

body {
    color: white;
    width: 100%;
    height: 100%;
    background: url(./images/bg-desktop-dark.jpg) no-repeat;
    background-size: 100% 50%;
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

.heading > h1 {
    font-size: 5rem;
    letter-spacing: 30px;
}

.add {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 3em;
    font-size: 30px;
    background: hsl(235, 24%, 19%);
    border: none;
    color: white;
    border-radius: 8px;
}

.todo-container {
    background-color: hsl(235, 24%, 19%);
    font-size: 30px;
    border-radius: 8px;
    box-shadow: 20px 20px 200px 0px black;
}

#todo {
    list-style-type: none;
}

li {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    padding-left: 2em;
}

.delete {
    cursor: pointer;
}

hr {
    opacity: 0.2;
}

@media (max-width: 835px) {
    .container {
        margin: 0 1em;
    }
}