:root {
    --hover-color: hsl(220, 98%, 61%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(235, 21%, 11%);
}

body {
    color: white;
    width: 100%;
    height: 100%;
    background: url(./images/bg-desktop-dark.jpg) no-repeat;
    background-size: 100% 40%;
    font-family: 'Nunito', sans-serif;
    position: absolute;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

.heading > h1 {
    font-size: 5rem;
    letter-spacing: 30px;
}

.add {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 2.7em;
    font-size: 30px;
    background: hsl(235, 24%, 19%);
    border: none;
    color: white;
    border-radius: 8px;
}

.todo-container {
    background-color: hsl(235, 24%, 19%);
    font-size: 30px;
    border-radius: 8px;
    box-shadow: 20px 20px 200px 0px black;
}

#todo {
    list-style-type: none;
}

.items {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0, 0.4);
}

.item-complete {
    text-decoration: line-through rgba(0, 0, 0, 1);
}

.align > label{
    padding-left: 1em;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

hr {
    opacity: 0.2;
}

.user-interactions {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    font-size: 18px;
    user-select: none;
}

.user-interactions > li:hover {
    transition: 0.3s;
    color: var(--hover-color);
    cursor: pointer;
}

@media (max-width: 835px) {
    .container {
        margin: 0 1em;
    }
}